# Ignore HuBERT embeddings
hindi_dataset/hubert_features/

# Python cache
__pycache__/
*.pyc

# environment files
.env
tts_env/

# models
models/*.pth
models/*.pkl

# outputs
pred_unit/
pred_mel/

# logs
logs/

vocoder/hifigan_hi/best_model.pth

0001-Ignore-model-weights-and-remove-tracked-checkpoint.patch